.profile-container {
    position: relative;
    padding: 20px;
  }
  
  .back-button-container {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .back-button {
    background-color: #CF240D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-bottom: 20px; */
    margin-top: 30px;
  }
  
  .back-button:hover {
    background-color: #f04a71;
  }
  